<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="title">
	<f:translate key="tx_examplevuesimple_domain_model_todo.title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="title" id="title" /><br />
<label for="done">
	<f:translate key="tx_examplevuesimple_domain_model_todo.done" />
</label><br />
	<f:form.checkbox property="done" id="done" value="1" /><br />
</html>