<template>
  <ul class="uk-list  uk-list-divider">
    <li v-if="json" v-for="item in json">
      <input type="checkbox" class="uk-checkbox" :checked="item.done" />
      {{ item.title }}
    </li>
  </ul>
</template>


<script>

export default {
  name: "App",
  data() {
    return {
      json: {}
    }
  },
  created() {
    this.json = json
  }
}
</script>
