<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Buttons">
    <be:moduleLayout.button.linkButton
        icon="actions-add"
        title="{f:translate(id: 'LLL:EXT:backend/Resources/Private/Language/locallang_layout.xlf:newRecordGeneral')}"
        link="{f:uri.action(controller: 'Todo', action: 'new')}"
    />
</f:section>

<f:section name="Content">
    <h1>Listing for Todo</h1>

    <f:flashMessages />

    <div id="app"></div>

    <script>
        var json = <f:format.raw>{json}</f:format.raw>
    </script>

    <f:asset.script identifier="app" src="EXT:example_vue_simple/Resources/Public/JavaScript/app.bundle.js"></f:asset.script>


</f:section>
</html>
