<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true">

<be:moduleLayout>
    <f:be.pageRenderer />

    <be:moduleLayout.menu identifier="ModuleMenu">
        <be:moduleLayout.menuItem label="Overview" uri="{f:uri.action(controller: 'Todo', action: 'list')}" />
        <be:moduleLayout.menuItem label="Create new Todo" uri="{f:uri.action(controller: 'Todo', action: 'new')}" />
    </be:moduleLayout.menu>

    <f:render section="Buttons" />
    <be:moduleLayout.button.shortcutButton displayName="Shortcut" />

    <f:render section="Content" />
</be:moduleLayout>
</html>
