<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">

    <f:flashMessages />

    <div id="app"></div>

    <script>
        var json = <f:format.raw>{json}</f:format.raw>
    </script>

    <f:asset.script identifier="app" src="EXT:example_vue_simple/Resources/Public/JavaScript/app.bundle.js"></f:asset.script>

</f:section>
</html>
